<div class="page-content">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-8 col-lg-6">
            <header class="page-header title-size-default">
                <div class="title-section">
                    <div class="page-title-wrapper">
                        <p class="page-title">Oops! That page can't be found.</p>
                    </div>
                </div>
            </header>
            <div class="page-contents">
                <div class="error-404-description">It looks like nothing was found at this location. Maybe try a search?</div>
                <div class="error-404-searchform mt-5">
                    <button routerLink="/home" class="error-404-button">Go To Home</button>
                </div>
            </div>
        </div>
    </div>
</div>