<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="widgets_container">
                                <h3>CONTACT INFO</h3>
                                <div class="footer_contact">
                                    <div class="footer_contact_inner">
                                        <div class="contact_icone">
                                            <img src="../../assets/logo/icon-phone.png" alt="">
                                        </div>
                                        <div class="contact_text">
                                            <p>Hotline Free 24/24: <br> <strong>(+800) 123 456 789</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Laptop</a>
                                </li>
                                <li>
                                    <a href="#!">Headphone</a>
                                </li>
                                <li>
                                    <a href="#!">Apple Watch</a>
                                </li>
                                <li>
                                    <a href="#!">Ipad</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Clock watcher</a>
                                </li>
                                <li>
                                    <a href="#!">Speak</a>
                                </li>
                                <li>
                                    <a href="#!">Clean</a>
                                </li>
                                <li>
                                    <a href="#!">Chair</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3 text-right">

                    <!-- Content -->
                    <h3>Newsletter Subscribe</h3>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                    <input type="text" class="your-email" placeholder=" Your email address">
                    <button class="btn-sign-up">Sign Up</button>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->


            </div>
            <!-- Grid row -->
        </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 pt-5">
        <div class="row">
            <div class="col-lg-4">
                <a href=""><img src="../../assets/logo/icon-googleplay.png" alt=""></a>
                <a href=""><img src="../../assets/logo/icon-appstore.png" alt=""></a>
            </div>
            <div class="col-lg-4">
                <p>© 2020 Copyright: All rights reserved.</p>
            </div>
            <div class="col-lg-4">
                <a href=""><img src="../../assets/logo/payment.png" alt=""></a>
            </div>
        </div>


    </div>
    <!-- Copyright -->

</footer>