@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    font-family: 'Josefin Sans';
}

.title {
    font-size: 56px;
    font-weight: 600;
}

.link-title {
    padding-left: 0px;
}

.link-title>li {
    display: inline;
}

.link-title>li>a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.page-content {
    padding-top: 3.75rem;
    padding-bottom: 6.25rem;
}

::ng-deep .ngxImageZoomContainer>img {
    max-height: 600px!important;
}

.product-images {
    cursor: crosshair;
}

.w100 {
    width: 100%;
    max-width: 100% !important;
}

.btn.btn-primary {
    border-width: 2px;
    color: black !important;
    border-color: transparent !important;
    background-color: #ffcc33 !important;
}

.btn.btn-primary.black {
    border-width: 2px;
    color: #fff !important;
    border-color: #000 !important;
    background-color: #000 !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    height: 51px;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #00000024;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.product-form__item--quantity {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.product-form__item--quantity button {
    outline: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 1;
    border: none;
    background-color: #f5f5f5;
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    border-radius: 50%;
}

.ris {
    font-family: 'Barberry';
    speak: none;
    font-style: normal;
    font-weight: inherit;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.product-form__item--quantity input {
    vertical-align: top;
    padding: 0;
    margin: 0;
    width: 40px;
    border: none;
    display: inline-block;
    text-align: center;
    outline: none;
    font-size: 20px;
    line-height: 2;
    font-weight: 400;
    height: 30px;
}

.add-to-card {
    text-align: center;
    transition: 2s;
}

.product-card {
    height: 300px;
    overflow: hidden;
    position: relative;
    transition: 1s;
}

.product-card:hover .product-name,
.product-card:hover .product-price,
.product-card:hover .add-to-card {
    transform: translateY(-100px);
}

.product-image {
    transition: 1.5s;
}

.product-card:hover .product-image {
    transform: scale(1.1);
}

.product-card:hover {
    cursor: pointer;
}

.product-card:hover .product-name {
    animation: border_bottom 2s forwards;
}

@-webkit-keyframes border_bottom {
    0% {
        border-bottom: 1px solid transparent;
    }
    100% {
        border-bottom: 1px solid black;
    }
}

.product-card:hover .image1 {
    display: none;
}

.image2 {
    display: none;
}

.product-card:hover .image2 {
    display: block;
}

.product-price {
    position: absolute;
    bottom: 11%;
    left: 64%;
    color: black;
    z-index: 5;
    text-align: center;
    font-family: sans-serif;
    transition: 2s;
}

.product-name {
    width: 30%;
    font-size: 26px;
    font-family: sans-serif;
    position: absolute;
    left: 18%;
    z-index: 4;
    color: black;
    text-align: center;
    transition: 2s;
    bottom: 10%;
}

.btn-add {
    background: white;
    border: 1px solid black;
}