<div class="page-content">
    <div class="container ">
        <div class="col-lg-5 col-sm-12 form-login m-auto">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" class="form-signin">
                <div class="title-text mt-5">
                    <ul class="link-title">
                        <li>
                            <a routerLink="/home">
                                <span>Home  </span>
                                <span>  /  </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/login">
                                <span>Account</span>
                            </a>
                        </li>
                    </ul>
                    <p class="text-center title mt-3 mb-4">Log in</p>
                </div>
                <div class="form-group ">
                    <label for="customer_login-email">Email address<span class="required">*</span></label>
                    <input class="form-control input-text" id="customer_login-email" ngModel type="email" name="email" required="required" autofocus="">
                </div>
                <div class="form-group ">
                    <label for="customer_login-password">Password<span class="required">*</span></label>
                    <input type="password" class="form-control input-text" ngModel id="customer_login-password" type="password" name="password" required="required" autofocus="">
                </div>
                <div class="form-group ">
                    <a id="RecoverPassword">Forgot your password?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w100">LOG IN</button>
                </div>
                <div class="form-divider">
                    <span>OR</span>
                </div>
                <div class="form-group">
                    <!-- <a href="/account/register" class="btn w100">Create an Account</a> -->
                    <button type="submit" routerLink="/sign-up" class="btn  w100">Create an Account</button>
                </div>

            </form>

        </div>
    </div>
</div>