<body>
    <div id="logreg-forms">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> {{ 'Sign in' | translate }}</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
            </div>
            <p style="text-align:center"> {{ 'OR' | translate }}</p>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> {{ 'Sign in' | translate }}</button>
            <a href="#" id="forgot_pswd">{{ 'Forgot password?' | translate }}</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button class="btn btn-primary btn-block" routerLink="/sign-up" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> {{ 'Sign up New Account' | translate }}</button>
        </form>

        <form action="/reset/password/" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">{{ 'Reset Password' | translate }}</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> {{ 'Back' | translate }}</a>
        </form>
    </div>
</body>