<div class="page-content">
    <div class="container  mt-5 mb-5">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center title mt-3 mb-4">Contact us</p>
            </div>
            <div class="col-lg-9 mb-md-0 mb-5">
                <form #contact="ngForm" (ngSubmit)="onSubmit(contact.value)">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="customer_login-name">Your name<span class="required">*</span></label>
                                    <input class="form-control input-text" ngModel id="customer_login-name" type="text" name="name" required="required" autofocus="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group ">
                                    <label for="customer_login-email">Your email<span class="required">*</span></label>
                                    <input class="form-control input-text" ngModel id="customer_login-email" type="email" name="email" required="required" autofocus="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group ">
                            <label>Your Message</label>
                            <textarea class="form-control area-border" ngModel name="body" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary ">SEND MESSAGES</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3">
                <ul class="contact-content">
                    <li>
                        <h3>Address</h3>
                        <p>16 Boulevard Saint-Germain<br>75005 Paris,<br>France</p>
                    </li>
                    <li>
                        <h3>Email</h3>
                        <p>hieuvo044@gmail.com</p>
                    </li>
                    <li>
                        <h3>Telephone</h3>
                        <p>+33 (0) 31-305-210<br>mo – fri: 09:00 – 17:00</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>