<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/2548/files/cat-bg-lightinga4f2.jpg" alt="New York">
            <div class="carousel-caption ">
                <p class="title-car ">NEW ARRIVIALS</p>
                <h1 class="content-car  ">New Potable Bluetooth Speaker</h1>
                <small class="note-car ">shop now</small>
            </div>
        </div>
        <div class="carousel-item ">
            <img src="../../assets/2548/files/cat-bg-livingrooma4f2.jpg" alt="Los Angeles">
            <div class="carousel-caption">
                <p class="title-car">NOVEMBER SALES</p>
                <h1 class="content-car">Clearance Sales Up To 30% Offs</h1>
                <small class="note-car">shop now</small>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/2548/files/cat-bg-accessoriesa4f2.jpg" alt="Chicago">
            <div class="carousel-caption">
                <p class="title-car">NOVEMBER SALES</p>
                <h1 class="content-car">Clearance Sales Up To 30% Offs</h1>
                <small class="note-car">shop now</small>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev " href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="tinto col-lg-3 col-sm-12">
            <div class="layer1">
                <img src="../../assets/img/product/product5.jpg" height="300px" width="100%" alt="">
            </div>
            <div class="duongke"></div>
            <div class="chuto">Lap top</div>
            <div class="chunho">4 product</div>
        </div>
        <div class="tinto col-lg-3 col-sm-12">
            <div class="layer1">
                <img src="../../assets/img/product/product3.jpg" height="300px" width="100%" alt="">
            </div>
            <div class="duongke"></div>
            <div class="chuto">Headphone</div>
            <div class="chunho">3 product</div>
        </div>
        <div class="tinto col-lg-3 col-sm-12">
            <div class="layer1">
                <img src="../../assets/img/product/product18.jpg" height="300px" width="100%" alt="">
            </div>
            <div class="duongke"></div>
            <div class="chuto">Watch</div>
            <div class="chunho">8 product</div>
        </div>
        <div class="tinto col-lg-3 col-sm-12">
            <div class="layer1">
                <img src="../../assets/img/product/product14.jpg" height="300px" width="100%" alt="">
            </div>
            <div class="duongke"></div>
            <div class="chuto">Phone</div>
            <div class="chunho">12 product</div>
        </div>
    </div>
</div>
<div class="recent-product mt-5 mb-5">
    <div class="big">
        <h1>New Products</h1>
    </div>
    <div class="small">
        <p>New posuere neque eu lectus ultrices</p>
    </div>
</div>
<div class="product mt-5 mb-5">
    <div class="row">
        <div *ngFor="let product of newProduct" class="product-card col-lg-3 col-sm-12" [routerLink]="['/collections/product/product-detail',product.id]">
            <div class="product-image">
                <img class="image1" src="{{product.image}}" height="300px " width="100% " alt=" ">
                <img class="image2 " src="{{product.image}}" height="300px" width="100%" alt="">
            </div>
            <div class="text">
                <!-- <div class="product-name">
                    <h2>{{product.name}}</h2>
                </div> -->
                <div class="product-price">
                    <h6>{{product.price}}$</h6>
                </div>
            </div>
            <div class="add-to-card">
                <button class="btn-add">Add To Card</button>
            </div>
        </div>
    </div>
</div>
<div class="recent-product mt-5 mb-5">
    <div class="big">
        <h1>Hot Products</h1>
    </div>
    <div class="small">
        <p>Hot posuere neque eu lectus ultrices</p>
    </div>
</div>
<div class="product mt-5 mb-5">
    <div class="row">
        <div *ngFor="let product of goodProduct" class="product-card col-lg-3 col-sm-12" [routerLink]="['/collections/product/product-detail',product.id]">
            <div class="product-image">
                <img class="image1" src="{{product.image}}" height="300px " width="100% " alt=" ">
                <img class="image2 " src="{{product.image}}" height="300px" width="100%" alt="">
            </div>
            <div class="text">
                <!-- <div class="product-name">
                    <h2>{{product.name}}</h2>
                </div> -->
                <div class="product-price">
                    <h6>{{product.price}}$</h6>
                </div>
            </div>
            <div class="add-to-card">
                <button class="btn-add">Add To Card</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5 ">
    <div class="row ">
        <div class=" col-lg-6 m-auto all-product mt-5 mb-5 ">
            <div class="big ">
                <h1>It's all New, It all arrived this week</h1>
            </div>
            <div class="small ">
                <p>Furniture axe heirloom ethical man bun sustainable. Pickled normcore selvage, bespoke four dollar toast neutra chartreuse vinyl.</p>
            </div>
            <div class="button-all ">
                <button routerLink="/collections/product" class="btn-all">VIEW ALL NEW PRODUCTS</button>
            </div>
        </div>
    </div>
</div>