@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    font-family: 'Josefin Sans';
}

.carousel-caption {
    position: absolute;
    right: 59%;
    bottom: 20px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    color: black;
    text-align: center;
}

.tinto,
.product-card {
    height: 300px;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
    cursor: pointer;
}

.layer1,
.product-image {
    transition: 1.5s;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.chuto {
    font-size: 26px;
    font-family: sans-serif;
    position: absolute;
    left: 18%;
    z-index: 4;
    color: black;
    text-align: center;
    transition: 0.4s;
    top: 75%;
}

.active>.carousel-caption>.title-car {
    animation: chayqua 0.5s forwards;
}

.active>.carousel-caption>.content-car {
    animation: chayqua 1s forwards;
    animation-delay: 0.4s;
}

.active>.carousel-caption>.note-car {
    animation: duoilen 1s forwards;
    animation-delay: 0.6s;
}

.title-car,
.content-car,
.note-car {
    opacity: 0;
}

.while-color {
    color: white;
}

@-webkit-keyframes chayqua {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }
    70% {
        opacity: 1;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-webkit-keyframes duoilen {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.note-car {
    border-bottom: 1px solid black;
}

.note-car.while-color {
    border-bottom: 1px solid white;
}

.chunho {
    position: absolute;
    top: 67%;
    left: 18%;
    color: black;
    z-index: 5;
    text-align: center;
    font-family: sans-serif;
    transition: 0.4s;
}

.tinto:hover .chuto {
    animation: border_bottom 2s forwards;
}

.tinto:hover .layer1 {
    transform: scale(1.1);
}

.tinto:hover,
.add-to-card {
    text-align: center;
    transition: 2s;
}

.product-card:hover .product-name,
.product-card:hover .product-price,
.product-card:hover .add-to-card {
    transform: translateY(-100px);
}


/* 
.product-card:hover .product-image {
    transform: scale(1.1);
} */

.product-card:hover {
    cursor: pointer;
}

.product-card:hover .product-name {
    animation: border_bottom 2s forwards;
}

@-webkit-keyframes border_bottom {
    0% {
        border-bottom: 1px solid transparent;
    }
    100% {
        border-bottom: 1px solid black;
    }
}

.product-price {
    position: absolute;
    bottom: 11%;
    left: 64%;
    color: black;
    z-index: 5;
    text-align: center;
    font-family: sans-serif;
    transition: 2s;
}

.product-name {
    width: 30%;
    font-size: 26px;
    font-family: sans-serif;
    position: absolute;
    left: 18%;
    z-index: 4;
    color: black;
    text-align: center;
    transition: 2s;
    bottom: 10%;
}

.product-card:hover .image1 {
    display: none;
}

.image2 {
    display: none;
}

.product-card:hover .image2 {
    display: block;
}

.btn-add {
    background: white;
    border: 1px solid black;
}

.big {
    font-weight: 600;
    text-align: center;
}

.small>p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1.7;
}

.btn-all {
    height: 55px;
    background: white;
    border: 1px solid black;
}

.button-all {
    text-align: center;
}